[submodule "ycmd"]
	path = ycmd
	url = https://github.com/Valloric/ycmd.git
	branch = master
[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
	branch = master
[submodule "private/roslaunch-jump"]
	path = private/roslaunch-jump
	url = https://github.com/Maverobot/roslaunch-jump.git
	branch = master
[submodule "snippets"]
	path = snippets
	url = https://github.com/Maverobot/snippets.git
	branch = master
[submodule "private/catkin-make"]
	path = private/catkin-make
	url = https://github.com/Maverobot/catkin-make.git
	branch = master
[submodule "private/company-roslaunch"]
	path = private/company-roslaunch
	url = https://github.com/Maverobot/company-roslaunch.git
	branch = master
[submodule "ccls"]
	path = ccls
	url = https://github.com/MaskRay/ccls
[submodule "private/ob-julia"]
	path = private/ob-julia
	url = https://github.com/nico202/ob-julia.git
[submodule "private/org-cv"]
	path = private/org-cv
	url = git@github.com:Maverobot/org-cv.git
