[submodule "ycmd"]
	path = ycmd
	url = https://github.com/Valloric/ycmd.git
	branch = master
[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
	branch = master
[submodule "private/roslaunch-jump"]
	path = private/roslaunch-jump
	url = https://github.com/Maverobot/roslaunch-jump.git
	branch = master
[submodule "snippets"]
	path = snippets
	url = https://github.com/gollth/snippets.git
	branch = master
